*
**

!\.gitignore
!\.tmux.conf
!\.zshrc
!\.config
!\.config/*
!\.config/**/*
!\.config/nvim
!\.config/nvim/*
!\.config/nvim/**/*
!\.local
!\.local/scripts
!\.local/scripts/*

\.config/tmux/plugins/*
\.config/tmux/plugins
\.config/github-copilot
\.config/pip
\.config/containers
\.config/configstore
\.config/nvim/lazy-lock.json
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
