**/**
!.gitignore
!.**
.bash_history
.es_auth
.esd_auth
.viminfo
.xsession-errors*
.Xauthority
.Xresourceswq.swp
!.config/**
.config/Code
.config/Code\ -\ OSS/**
.config/chromium/**
.config/brave/**
.config/spotify/**
.config/pulse/**
.config/discord/**
.config/Notepadqq/**
.config/GitKraken/**
.config/Thunar/**
.config/configstore/**
.config/QtProject.conf
.vim/.netrwhist
.python_history*
.npmrc
.ungitrc
.fzf.bash
.fzf/
.config/dconf/user
.config/gtk-2.0/
.yarnrc
.config/xfce4/
.node_repl_history
