*
**

!\.gitignore
!/AGENTS.md
!/skills-lock.json
!\.tmux.conf
!\.zshrc
!\.config
!\.config/*
!\.config/**/*
!\.config/nvim
!\.config/nvim/*
!\.config/nvim/**/*
!\.local
!\.local/scripts
!\.local/scripts/*
!/.agents/
!/.agents/.skill-lock.json
!/.agents/AGENTS.md
!/.agents/skills/
!/.agents/skills/*/
!/.agents/skills/*/**

.oh-my-zsh-custom/

\.config/tmux/plugins/*
\.config/tmux/plugins
\.config/github-copilot
\.config/pip
\.config/containers
\.config/configstore
\.config/nvim/lazy-lock.json
\.config/hypr/shaders
\.config/nvim.log
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.config/windows/
.config/gh/hosts.yml
.config/blender/
.config/Pinta/
.config/xournalpp/
.config/1Password/
.config/BraveSoftware/
.config/Signal/
.config/Typora/
.config/chromium/
.config/comfyui-desktop-2/
.config/dconf/
.config/discord/
.config/google-chrome*/
.config/microsoft-edge-dev/
.config/vivaldi*/
.config/obsidian/
.config/omarchy/
.config/omarchy.ttf
.config/spotify/
.config/unityhub/
.config/unity3d/
.config/pulse/
.config/ibus/
.config/fcitx/
.config/libreoffice/
.config/lazydocker/
.config/lazygit/
.config/bolt-launcher/
.config/GIMP/
.config/obs-studio/logs/
.config/opencode/node_modules/
.config/opencode/package.json
.config/opencode/package-lock.json
.config/opencode/bun.lock
.config/go/
.config/obs-studio/
.config/QtProject.conf
.config/aether/
.config/brave-flags.conf
.config/brave-origin-beta-flags.conf
.config/chromium-flags.conf
.config/fcitx5/conf/cached_layouts
.config/git/config
.config/helm/
.config/gtk-3.0/bookmarks
.config/imv/
.config/mise/
.config/qalculate/
.config/systemd/user/*.wants/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/**/*.bak*
.config/**/Cookies*
.config/**/GPUCache/
.config/**/Dawn*Cache/
.config/**/Session Storage/
.config/**/SharedStorage*
.config/**/Trust Tokens*
.config/**/Crashpad/
.config/**/logs/
